{% extends 'base.html.twig' %}

{% block title %}Create Role{% endblock %}

{% block body %}
<h1>Create New Role</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Save</button>
{{ form_end(form) }}

<a href="{{ path('Role_index') }}" class="btn btn-secondary">Back to Roles</a>
{% endblock %}
