{% extends 'base.html.twig' %}

{% block body %}
<h2>Manage Permissions for {{ role.name }}</h2>

<form method="post">
    {% for permission in permissions %}
        <label>
            <input type="checkbox" name="selectedPermission[]" value="{{ permission.id }}"
                {% if permission in role.getPermissions() %} checked {% endif %}>
            {{ permission.name }}
        </label><br>
    {% endfor %}

    <button type="submit">Save Permissions</button>
</form>

<a href="{{ path('role_permission_index') }}">Back</a>
{% endblock %}